---
import template from "virtual:astro-decap-cms/template";
console.log("template in frontmatter",template)
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>Content Manager</title>
	</head>
	<body>
		<script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"
		></script>
		<script>
			import styles from "virtual:astro-decap-cms/styles";
			styles.forEach((style) => {
				const script = document.createElement("script");
				script.textContent = `CMS.registerPreviewStyle('${style}');`;
				document.body.appendChild(script);
			});
		</script>
		{console.log("template in body",template)}
		<!-- <script src=`${template}`></script> -->

		<!-- <script>
			import template from "virtual:astro-decap-cms/template";
			if (template) {
				const script = document.createElement("script");
				script.src = template;
				document.body.appendChild(script);
			}
		</script> -->
	</body>
</html>
